<h1>Administrator Roles</h1>
<a href="#" class="btn btn-warning btn-lg">
        <span class="fa fa-plus"></span>Add Departments</a>
<a href="#" class="btn btn-warning btn-lg">
        <span class="fa fa-th-list"></span>Add new products</a>
<a href="#" class="btn btn-warning btn-lg">
        <span class="fa fa-plus"></span>View Low Inventory</a>
<a href="#" class="btn btn-warning btn-lg">
        <span class="fa fa-th-list"></span>Add to Inventory</a>
<a href="#" class="btn btn-warning btn-lg">
        <span class="fa fa-th-list"></span>Product Sales by Dept</a>